@page
@model ECom.Pages.Account.LogOutModel
@{
    ViewData["Title"] = "LogOut";
}

@*This is our logout page, which will display to the user that they have successfully logged out.*@

<h1>LogOut</h1>

