@page
@model ECom.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

@*This is our registration page, we have created a form with all the properties and claims needed for each user.*@


<h1>Register</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="Input.FirstName">First Name</label>
    <input asp-for="Input.FirstName" />

    <label asp-for="Input.LastName">Last Name</label>
    <input asp-for="Input.LastName" />

    <label asp-for="Input.Email">Email</label>
    <input asp-for="Input.Email" />
    <span asp-validation-for="Input.Email"></span>

    @*addded claims, use user input to add this claim to the user*@
    <label asp-for="Input.Birthdate">Date of birth</label>
    <input asp-for="Input.Birthdate" />

    @*addded claims, use user input to add this claim to the user*@
    <label asp-for="Input.Country">Country</label>
    <input asp-for="Input.Country" />

    <label asp-for="Input.Password">Password</label>
    <input asp-for="Input.Password" />

    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
    <input asp-for="Input.ConfirmPassword" />



    <button type="submit">Register</button>

</form>

