
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
    <head>
        <link rel="stylesheet" href="~/styles/style.css" />
    </head>
<body>

<h1>Index</h1>
<p>Buying luxury cars online was never this easy</p>

</body>