
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@*This is our home page, this is the first thing displayed to our user once they go to our site.*@

<h1>Index</h1>
<p>Buying luxury cars online was never this easy</p>
