@page
@model ECom.Pages.Show.detailsModel
@{
    ViewData["Title"] = "details";
}

<h1>details page</h1>
<h1>follow the wireframe to display the product's details. All the info for the product.</h1>

