@page
@model ECom.Pages.Show.indexModel
@{
    ViewData["Title"] = "index";
}

<h1>This is the index page for the products. </h1>
<h1>The products should be displayed here</h1>
<h1>From here the user can click on details for a specific product and view that specific product's details</h1>